# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
target

#
.sonarlint
.DS_Store
*~
*.swp
*.swo
*.log
.nb-gradle/
.vscode/
logs
**/*.iml
**/*.ipr
**/*.iws
**/.idea
bin
out
**/.nb-gradle/
**/.nb-gradle-properties
*/.settings/
*/.classpath
*/.project
*.eml
