# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle / Maven build output directory
build
target

# mvn hpi:run
work

#
.sonarlint
.DS_Store
*~
*.swp
*.swo
*.log
.nb-gradle/
.vscode/
logs

# IntelliJ IDEA project files
**/*.iml
**/*.ipr
**/*.iws
**/.idea
bin
out
**/.nb-gradle/
**/.nb-gradle-properties

# Eclipse project files
*/.settings/
*/.classpath
*/.project
*.eml
